/*<--------small screens---------->*/


*{
  padding:0;
  margin:0;
  text-decoration: none;
}

html{
  font-size: 80%;
}

body {
  background-color: #000;
}


.nav {
  background-color: black;
  color:#adadad;
  position: fixed;
  text-align: center;
  top:0;
  width: 100%;
  /*height:130px;*/
  z-index: 1;
}

.logo{
  width:80%;
  margin-left: auto;
}

.nav-buttons{
  display:none;
}


 li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 45px;
    margin-right: 15px;
    font-family: 'lato';
    font-weight: 200;
}

li a {
  color: #adadad;
  border: 1px solid #adadad;
  border-radius: 5px;
  padding: 7px 10px 10px 10px;
  transition: all .3s ease-in;

}

li a:hover {
  color: #32BFC3;
  border-color: #32BFC3;

}

.landing {
  display: none;
}


/*<--------------about---------------->*/
.about-wrapper{
  max-width: 500px;
  margin:0 auto;
}
.about-text {
  padding-top: 10%;
  width: 85%;
  color:#adadad;
  text-align: center;
  margin: 80px 0px 0px 25px;
  font-family: 'lato';
  font-weight: 100;
  display: inline-block;
}

.who-we-are {
  font-size: 30px;
}

.about-text h1 {
  margin-bottom: 15px;
}

.about-text h3 {
  margin-bottom: 5px;
}

.about-text p{
  margin-bottom: 25px;
}

.about-text a{
  color: #adadad;

}

#map_canvas {
  text-align: center;
  display: block;
  margin-bottom: 30px;
}

#map_canvas iframe{
  height: 250px;
  width: 250px;
}

.clearfix{
  width: 100%;
  height: 0px;
  clear: both;
}

/*<-----------------apparel----------------->*/

.apparel {
  text-align: center;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 90px;
  background-color: #F75454;

}

.apparel h2 {
  margin-bottom: 60px;
  font-family: 'lato';
  font-size: 30px;
  font-weight: 100;
  color:white;
}

.apparel-holder{
  max-width:500px;
  margin: 0 auto;
}

.apparel-holder a img{
  margin-top: 15px;
  margin-left: 15px;
  border:1px solid black;
}

.apparel p {
  font-family: 'lato';
  font-size: 20px;
  font-weight: 100;
  color:white;
  padding-top: 50px;
}

/*<--------------------events--------------------->*/

#events {
  background-color: black;
  color:white;
  text-align: center;
  padding-bottom: 150px;
}

#events p {
  color:#adadad;
  font-family: 'lato';
  font-weight: 100;
  font-size: 30px;
  padding-bottom: 55px;
}
.event-holder{
  max-width: 300px;
  margin:0 auto;
}

.upcoming {
  padding-top: 80px;
}

.upcoming img {
  padding-bottom: 100px
}
#events .upcoming a img {
  height:200px;
  width: 150px;
}
#events .past a img {
  height:130px;
  width: 130px;
}



/*<---------------photos------------------>*/

#photos{
  background-color:#32BFC3;
  text-align: center;
  padding-bottom: 60px;
}

#photos p {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 30px;
  font-family: 'lato';
  color: white;
  font-weight: 100;
}

.photo-holder{
  max-width: 320px;
  margin: 0 auto;
}

.photo-holder a img{
  height:100px;
  width: 100px;
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
 /*Large screens (1024px) */
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media (min-width: 64rem) {
html {
  font-size: 100%;
}
.nav {
  background-color: black;
  color:#adadad;
  position: fixed;
  top:0;
  width: 100%;
  height:130px;
  z-index: 1;
  text-align: left;
}

.logo{
  height:80px;
  width: auto;
  margin-top:23px;
  margin-left: 40px;
  display: inline;
}

.nav-buttons{
  float: right;
  display:inline-block;
  margin-right: 60px;
}


 li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 45px;
    margin-right: 15px;
    font-family: 'lato';
    font-weight: 200;
}

li a {
  color: #adadad;
  border: 1px solid #adadad;
  border-radius: 5px;
  padding: 7px 10px 10px 10px;
  transition: all .3s ease-in;

}

li a:hover {
  color: #32BFC3;
  border-color: #32BFC3;

}

.landing {
  position: fixed;
  top:100px;
  z-index: -1;
  background-image: url('../images/back-soon.jpg');
  background-size: 50%;
  width:100%;
  height: 600px;
  display: block;
  background-color: #000;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
}


/*<--------------about---------------->*/
#about{
  margin-top: 600px;
  background-color: #000;
}

.about-wrapper{
  max-width: 100%;
}

.about-text {
  width: 50%;
  padding-top: 0;
  color:#adadad;
  text-align: center;
  margin: 80px 0px 80px 25px;
  font-family: 'lato';
  font-weight: 100;
  display: inline-block;
}

.who-we-are {
  font-size: 40px;
}

.about-text h1 {
  margin-bottom: 15px;
}

.about-text h3 {
  margin-bottom: 5px;
}

.about-text p{
  margin-bottom: 25px;
}

.about-text a{
  color: #adadad;
}

#map_canvas {
  margin: 80px 45px ;
  display: inline-block;
  float: right;
}

#map_canvas iframe{
  height: 400px;
  width: 400px;
}

/*<-----------------photos----------------->*/

.apparel {
  text-align: center;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 90px;
  background-color: #F75454;
}

.apparel-holder{
  width: 100%;
}

.apparel h2 {
  margin-bottom: 60px;
  font-family: 'lato';
  font-size: 70px;
  font-weight: 100;
  color:white;
}


.apparel-holder a img{
  margin-left: 15px;
  border:1px solid black;
}

.apparel p {
  font-family: 'lato';
  font-size: 20px;
  font-weight: 100;
  color:white;
  padding-top: 50px;
}

/*<--------------------events--------------------->*/
.event-holder{
  max-width: 800px;
}

#events {
  background-color: black;
  color:white;
  text-align: center;
  padding-bottom: 150px;
}

#events p {
  color:#adadad;
  font-family: 'lato';
  font-weight: 100;
  font-size: 70px;
  padding-bottom: 55px;
}

.upcoming {
  padding-top: 80px;
}

.upcoming img {
  padding-bottom: 100px
}
#events .upcoming a img {
  height:400px;
  width: 300px;
}
#events .past a img {
  height:200px;
  width: 200px;
}



/*<---------------photos------------------>*/

#photos{
  background-color:#32BFC3;
  text-align: center;
  padding-bottom: 60px;
}

.photo-holder{
  max-width: 100%;
}

#photos p {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 70px;
  font-family: 'lato';
  color: white;
  font-weight: 100;
}

.photo-holder a img{
  height:200px;
  width: 200px;
}

}
